<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{%block title%}Experimental Web Page{%endblock%}</title>
        <meta name="author" content="David J. Hammaker">
        <meta name="description" content="A new web-page lab for implementing learned skills.">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        {%block header%}
            <header>
                <h1>h1 header</h1>
            </header>
        {%endblock%}


        {%block links%}
            <div class="links">
                <ul>
                    <li><a href="">link 1</a></li>
                    <li><a href="">link 2</a></li>
                    <li><a href="">link 3</a></li>
                </ul>
            </div>
        {%endblock%}

        {%block left_col%}
            <div class="left_col">
                <h3>h3 header left</h3>
                <p>p under h3 header left</p>
            </div>
        {%endblock%}

        {%block content%}
        {%endblock%}

        {%block right_col%}
            <div class="right_col">
                <h3>h3 header right</h3>
                <p>p under h3 header right</p>
            </div>
        {%endblock%}

        {%block footer%}
            <footer>
                <h3>h3 footer</h3>
            </footer>
        {%endblock%}
    </body>
</html>
