{%extends "base.html"%}

{%block title%}Links{%endblock%}

{%block left_col%}
    <div class="left_col">
        <h3>Social Media Links</h3>
        <p>Follow these to view my LinkedIn and GitHub pages.</p>
    </div>
{%endblock%}

{%block content%}
    <div class="content">
        <h2>LinkedIn:</h2>
        <p>Click <a href="https://www.linkedin.com/in/david-hammaker/" target="_blank">here</a>.</p>
    </div>
    <div class="content">
        <h2>GitHub:</h2>
        <p>Click <a href="https://github.com/davidhammaker" target="_blank">here</a>.</p>
    </div>
{%endblock%}

{%block right_col%}
{%endblock%}
